html{min-height:101%}
*{margin:0; padding:0; min-height:0}
body{font-size:13px; background:#fff; font-family:Helvetica,Arial,Sans-Serif; font-style:normal; font-weight:400; color:#6F6F6F; margin:0; padding:0;word-wrap: break-word;}
#content{width:980px; background:#fff; overflow:hidden; min-height:100%; height:auto!important; margin:0 auto -142px}
#zannounc{text-align:center; background:#EBEBE5; color:#6F6F6F; font-size:11px; width:974px; margin:0 auto; padding:3px}
#header{background:#fff; height:60px}
#logo{float:left; padding-top:12px; line-height:35px; font-size:32px; color:#333}
#logo a{font-size:32px; color:#556E89}
#logo a:hover{color:#556E89}
#search{float:right; padding-top:10px; font-size:32px; color:#333}
#sestext{background-attachment:scroll; background-clip:border-box; background-color:#fff; background-image:none; background-origin:padding-box; color:#555; display:block; font-size:18px; font-style:normal; font-variant:normal; font-weight:400; height:32px; position:static; text-align:left; text-decoration:none; width:255px; border-color:#CDCDCD; border-style:solid; border-width:2px; margin:2px 2px 0 1px; padding:0}
#intext{width:172px; float:left; text-decoration:none; border:0px; margin:3px; padding:5px; font-size:14px}
.b-search{-webkit-appearance:none; -webkit-box-align:center; -webkit-box-sizing:border-box; background-attachment:scroll; background-clip:border-box; background-color:transparent; background-image:url(images/search.png); background-repeat:no-repeat; background-origin:padding-box; color:#FFF; cursor:pointer; display:block; float:right; font-size:18px; font-style:normal; font-variant:normal; font-weight:400; height:32px; letter-spacing:normal; line-height:normal; overflow-x:hidden; overflow-y:hidden; position:static; text-align:left; text-decoration:none; text-indent:-9999px; text-shadow:none; text-trasform:none; vertical-align:middle; width:47px; word-spacing:0; border-color:#000; border-style:none; border-width:0; margin:0 5px 3px; padding:0}
a{font-style:normal; font-variant:normal; color:#1B4570; font-weight:normal; text-decoration:none}
a:hover{color:#1B4570; text-decoration:underline}
div, span, ul, li, menu, nav{border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0;list-style:none;}
#menu li{position:relative; float:left; list-style:none; margin:0; padding:0}
#menu li a{text-decoration:none; color:white}
#menu ul ul{position:absolute; visibility:hidden}
#menu ul li:hover ul{visibility:visible; float:none; margin:0px auto; padding:0; font-size:12px}
#coolMenu, #coolMenu ul{list-style:none; background:#47607D}
#coolMenu{float:left; width:980px; background-image:url(images/ff.gif); font-size:13px}
#coolMenu li a{display:block; height:2em; line-height:2em; text-decoration:none; padding:0 1.6em}
#coolMenu img{margin-top:4px}
#coolMenu ul{position:absolute; display:none; z-index:999; background:#607C98}
#coolMenu >li >a{color:#fff; font-family:arial,helvetica,clean,sans-serif; font-size:12px; font-style:normal; font-variant:normal; font-weight:700; border-left:1px solid #6582A2; border-right:1px solid #4A546E}
#coolMenu >li:hover >a{color:#f8f8f8; background:#6582A2}
#coolMenu li:hover ul{background:#6582A2}
#coolMenu ul li:hover a{color:#fff; text-decoration:underline}
#sectabs{float:left; width:980px; background-image:url(images/cc.gif); font-size:12px;border-bottom: 1px solid #eee;}
#sectabs li{float:left;}
#sectabs ul ul{position:absolute; visibility:hidden;}
#sectabs ul li ul{position:absolute; float:none;visibility:hidden;}
#sectabs li a{display:block;color:#6E8996;padding: 5px 5px 4px;}
#sectabs ul{position:absolute;display:none; z-index:999; background:#F3F3F3}
#sectabs >li >a{font-variant:normal; font-weight:400; border-right:1px solid #eee}
#sectabs li:hover ul{display:block;background:#F3F3F3;max-width: 250px;}
#sectabs ul ul li{text-decoration:underline;float:none;}
#blanks{float:left; width:980px; min-height:640px;height:auto!important; margin:0 auto}
#blockhead{margin-top:4px; margin-bottom:4px; padding-left:2px; background:#EBEBE5; border:0; color:#3D3D3D; font-size:14px; font-weight:bold}
#footer{margin-top:80px; font-family:'trebuchet ms'; text-align:center; color:#6E8996; background:#f8f8f8; border:1px solid #ddd; padding-bottom:38px}
#footer a{color:#6E8996; font-size:13px}
.footer, .foclear{clear:both}