body{font-size:13px;height:59%;background:#fff;font-family:Helvetica,Arial,Sans-Serif;font-style:normal;font-weight:400;color:#404040;padding:0}
form{font-size:13px;pading:5px;}
#samess{
line-height:24px;
background:#fff;
display: block;
font-size:15px;
font-style:normal;font-weight:400;color:#000;
visibility: visible;
position: static;
text-align: left;
text-decoration: none;
width: 585px;
border-color: #fff;
border-style: solid;
border-width: 1px;
margin: 2px 2px 0 1px;
padding: 0
}
#areass{
background-attachment: scroll;
background-clip: border-box;
background-color: 
white;
background-image: none;
background-origin: padding-box;
color: 
#222;
display: block;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 400;
height: 82px;
position: static;
text-align: left;
text-decoration: none;
width: 585px;
border-color: 
#eee;
border-style: solid;
border-width: 1px;
margin: 2px 2px 0 1px;
padding: 0;
}
#lareass{background-attachment: scroll;background-clip: border-box;background-color: white;background-image: none;background-origin: padding-box;color: #222;display: block;font-size: 14px;font-style: normal;font-variant: normal;font-weight: 400;position: static;text-align: left;
text-decoration: none;
width: 525px;
border-color: #ddd;
border-style: solid;
border-width: 1px;
margin: 2px 2px 0 1px;
padding: 2px;
}
a{font-style:normal;font-variant:normal;font-weight:normal;color:#183A52;font-weight:none;text-decoration:none}
#line{margin-bottom:4px;background-color: 
#EBEBE5;border-bottom: 1px solid #eee;font-size:14px;font-weight:bold;padding: 2px 2px 2px 2px!important;color:#222;
}
#lines{
padding: 10px 20px 10px 20px!important;
}
#slide{font-size:22px;color:#0084B4;margin:22px;}
#error{margin-top:12px;background:#fff6bf url(images/error.png) center no-repeat;background-position:15px 50%;text-align:left;border-top:1px solid #ffd324;border-bottom:1px solid #ffd324;width:528px;color:#444;font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;font-size:10px;padding:5px 20px 5px 45px}
.sendName{
background-color: 
rgba(88, 88, 88, 0.64);
background-image: none;
border-bottom-color: #444;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #444;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #444;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #444;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.199219) 0px 2px 4px 0px;
color: #fff;
display: inline-block;
font-family: arial, sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 12px;
margin: 0px;
min-width: 0px;
opacity: 1;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 8px;
padding-left: 9px;
padding-right: 9px;
padding-top: 8px;
text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
visibility: visible;
width:auto;
}
#counter{margin-left:18px;border:1px solid #fff;}