#intro{width:100%;margin-top:10px;margin-bottom:4px;background:#FFF;border:0;color:#1B4570;font-size:14px;font-weight:700}
#intro a{color:#1B4570;font-weight:bold;}
#intro img{margin-left:2px;margin-right:10px;}
#leftblock{float:left;width:670px;height:auto;}
#rightblock{float:right;width:300px;height:auto;}
#brief{font-size:16px;}
#linker{margin-bottom:5px;}
#list{width:660px;padding-left:1px;margin-top:5px;}
#side-a{font-size:12px;float:left;width:161px;height:250px;margin:0;padding:1px;padding-left:2px;}
#side-a img{border:1px solid #ccc;padding:1px}
#starm{position:relative;bottom:2px;border:0}
.thumb-image-wrapper{height:auto;position:relative}
.featuredcontainer{width:662px;min-height:120px;margin-top:3px;padding-top:3px;padding-right:5px;height:auto!important}
.featuredcontainer img{float:left;margin-top:3px;margin-right:10px;background:#fff;border:1px solid #ccc;padding:2px}
#realysmall{padding-top:4px;font-size:12px;}
.ha3{padding-top:4px;font-weight:bold; font-size:14px;color:#1B4570;}
.ha3 a{font-weight:bold; font-size:14px;color:#1B4570;}
.ha4{font-size:24px;color:#1B4570;}
.ha4 a:hover{color:#08478D;text-decoration:none}
#ha5{min-height:68px;padding-top:4px;padding-bottom:4px;border-bottom:1px solid #eee;color:#6F6F6F}
#ha5 img{float:left;position:relative;top:1px;right:3px;padding:2px;}
#beforefooter{margin-top:32px;margin-bottom:28px;min-height:90px;max-height:310px;text-align:center;}