.featuredprofile{width:243px;height:100%;margin:0;padding:0}
.cleft{float:left;margin-right:3px;background:#fff}
.cleft img{float:left;margin-right:3px;margin-top:2px;border:1px solid #ccc;padding:1px}
.featurelist{width:668px;height:94px;margin-top:2px;margin-left:12px;border:1px dotted #ccc;padding:6px 10px}
.featurelist img{float:left;margin-right:5px;border:1px dotted #ccc;padding:2px}
.ha2{font-size:22px;color:#183A52;padding-left:1px}
.prleft{float:left;width:255px;height:670px;border:1px dotted #ccc;margin-top:2px;padding:6px 10px}
.pright{float:right}
#paginate{display:block;text-align:left;margin-left:12px;height:22px;line-height:21px;clear:both;padding-top:3px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400}
#paginate a:link,#paginate a:visited{border:1px solid #EBEBEB;margin-right:10px;text-decoration:none;background-color:#F5F5F5;color:#5F88CE;width:22px;font-weight:400;padding:2px 7px}
#paginate a:hover{background-color:#DEF;border:1px solid #BDF;color:#0072BC}
#paginate .disabled{border:1px solid #EBEBEB;margin-left:0;text-decoration:none;background-color:#F5F5F5;color:#555;cursor:default;padding:2px 7px}
.smally{font-size:.95em;line-height:1.4em;margin-right:15px;color:#888}
.smally a{color:#5F88CE}
.time{background-image:url(images/calendar.gif);background-repeat:no-repeat;border:0;position:relative;top:2px;padding-right:6px;padding-left:4px}
.comment{background-image:url(images/comments.gif);background-repeat:no-repeat;border:0;position:relative;top:2px;padding-right:6px;padding-left:4px}
.docy{background-image:url(images/document.gif);background-repeat:no-repeat;border:0;position:relative;top:2px;padding-right:6px;padding-left:4px}
#beforefooter{margin-top:32px;margin-bottom:28px;min-height:90px;max-height:310px;text-align:center;}
img{border:0}
#icons{margin-top:8px;height:24px;line-height:20px}
#icons a{opacity:0.8}
#icons a:hover{opacity:1.0}
{padding:0}
.h1{marginborderfont-weight:00200;color:#888;font-size:18px;background:transparent url(images/h1.png) no-repeat center left;padding:5px 0 5px 32px}
.ha4{font-size:20px;color:#1B4570;padding-left:0}
.ha4 a:hover{color:#1B4570;text-decoration:none}
form.message{float:left;display:block;width:300px;height:250px;background:#fff;margin:0;padding:5px}
form.message fieldset.row5{border-top:1px dotted #adaeae;border-right:1px dotted #adaeae;float:left;clear:both;width:270px;margin:0 0 0 5px;padding:3px}
form.message legend{background:#fff;color:#000;margin-left:14px;font-size:14px;font-weight:100;padding:2px}
form.message label{color:#444;width:98px;float:left;text-align:left;margin-right:6px;margin-top:2px}
form.message input{width:250px;color:#505050;float:left;margin:0 0 5px;padding:6px 0 6px 2px}
#jfeed{width:285px;height:122px;border:1px solid #ccc;text-shadow:0 -1px 1px rgba(0,0,0,0.25)}
.sendName{color:#555;text-decoration:none;text-shadow:0 -1px 1px rgba(0,0,0,0.25);cursor:pointer;font-size:16px;width:115px;text-align:center;margin:20px 10px 0 0;padding:13px 0}
a.button{color:#FFF}
.sendName a,.sendName a:hover{color:#555;text-decoration:none;text-shadow:0 -1px 1px rgba(0,0,0,0.25)}