#leftblock{float:left;width:482px;height:auto;padding-left:1px}
#rightblock{float:left;width:496px;height:auto;}
.ha3{color:#183A52;padding-left:1px;font-weight: bold;}
.featurev{width:493px;margin-left:1px;margin-top:0px;padding-top:0px;padding-right:10px;padding-bottom:6px;padding-left:2px}
.vfeatured{width:479px;background:#f8f8f8;margin-top:4px;min-height:60px;border:1px dotted #f8f8f8;padding-top:6px;padding-right:10px;padding-bottom:6px;padding-left:2px;}
.vfeatured img{float:left;margin:4px;padding:1px;border:1px solid #ccc;}
.ha2{font-size: 22px;color: #1B4570;padding-left: 0;line-height:30px;}
#icons{margin-top:8px;height:24px;line-height:20px}
#icons a{opacity:0.8}
#icons a:hover{opacity:1.0}
#incform{background-color:#F8F8F8;color:#444;display:block;font-family:tahoma, sans-serif;font-size:12px;height:184px;line-height:12px;vertical-align:baseline;width:464px;border-width:0;margin:0;padding:5px 5px 5px 3px}
#firstfield{width:442px;margin-left:3px;border:1px solid #CCDCEF;padding:2px;}
#secondfield{width:442px;margin-left:3px;border:1px solid #CCDCEF;padding:2px;}
.buton{cursor:pointer;display:inline-block;font-weight:700;font-size:12px;letter-spacing:-.03em;line-height:1.25em;overflow:visible;width:auto;zoom:1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:0;background-color:#007A8F;border:1px solid #007CCC;color:#FFF;text-shadow:#023B83 0 -1px 0;padding:4px 7px}
.buton:hover{background:linear-gradient(top,#0066A6,#1B84C8)}
img{border:0}
.hover{background:url('images/star.png');z-index:1}
#beforefooter{margin-top:32px;margin-bottom:28px;min-height:90px;max-height:310px;text-align:center;}